{% extends 'AppBundle::base.html.twig' %}

{% block jumbotron %}
    <!-- Science -->
    <div class="container">

    <div class="science-thumb">
        <h1>{{ publication.science.title }}<!-- titre --></h1>
        <p>
            {{ publication.science.description }}<!-- description -->
        </p>
        <p>
            <!-- Lien vers la page détail science -->
            <a href="{{ path('app_science', {'scienceId': publication.science.id}) }}" class="btn btn-sm btn-default">
                Autres publications
            </a>
        </p>
    </div>

    <hr>
    </div>
{% endblock %}

{% block content %}

    <!-- Publication -->

    <div class="publication-thumb">
        <h2>{{ publication.title }}</h2>
        <p>
            Publié par <strong>{{ publication.author }}</strong>,
            le <em>{{ publication.publishedAt | date('Y-m-d H:m:s') }}</em>.
        </p>
        <p class="panel-body">
            {{ publication.description }}
        </p>
    </div>

    <hr>

    <div>
        {{ publication.content | raw}}
    </div>

    <hr>

    <!-- Comment -->

    <h3>Comments</h3>
    <hr>

    {% if (comments) %}
        {% for comment in comments %}
            <div class="panel panel-default">
                <p class="panel-heading">
                    Publié par <strong>{{ comment.pseudo }}</strong>.
                </p>
                <p class="panel-body">
                    {{ comment.message }}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="panel panel-default">
            <p class="panel-body">
                Be the first to leave your comment.
            </p>
        </div>
    {% endif%}

    <hr>
    <h3>Leave your comment here</h3>
    <hr>
    <!--new comment-->

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
